main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
}

.unidad {
    width: 100%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.unidad h3 {
    margin: 10px;
    width: 95%;
    text-align: center;
    background-color: var(--azul_oscuro);
    color: var(--blanco);
    padding: 12px;
}

.entradas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-wrap: wrap;
}

.entradas input {
    padding: 9px 7px;
    border-radius: 5px;
    border: 1px solid var(--gris);
    margin: 5px;
    width: 250px;
    max-width: 100%;
}

button {
    background-color: var(--morado);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--blanco);
    transition: 0.3s;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 7px;
    box-shadow: 1px 1px 3px var(--negro);
}

button i,
button h5 {
    margin: 0 5px;
    line-height: calc(50%);
}

button:hover {
    scale: 0.99;

    h5 {
        text-decoration: underline;
    }
}


hr {
    width: 100%;
}


/*dashboard.php*/
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 210px;
    height: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin: 10px;
    max-width: 95%;
    color: var(--blanco);
    background-color: var(--azul_oscuro);
    box-shadow: 0 0 5px var(--negro);
}

.card h4 {
    padding: 5px 0;
    margin: 5px 0;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid var(--plata);
}

.card .fi {
    font-size: 50px;
}

.card h5 {
    text-align: center;
    width: 95%;
    border-top: 1px solid var(--plata);
    padding: 5px 3px;
}

.card:hover {
    scale: 0.98;
}

/*dashboard.php-----fin*/


/*admin_units.php*/
.table-container {
    width: 95%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 auto;
}

/* SCROLL VERTICAL REAL */
.table-scroll {
    max-height: 230px;
    overflow-y: auto;
}

/* TABLA NORMAL (SIN HACKS) */
table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    min-width: 800px;
    width: 100%;
    text-align: center;
}

/* HEADER STICKY */
table thead th {
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--azul_oscuro);
    color: var(--blanco);
    padding: 7px;
}

/* CELDAS */
table td {
    border-bottom: 1px solid var(--plata);
    font-size: 14px;
    padding: 5px;
}

/* CONTROLES */
.table-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* SEARCH */
.search-box {
    min-width: 200px;
    padding: 7px;
    border: 2px solid var(--gris);
    border-radius: 5px;
}

.search-box:focus {
    outline: none;
    border-color: var(--azul_oscuro);
}

/* PAGINACIÓN */
.pagination {
    display: flex;
    justify-content: center;
    margin: 2px;
    flex-wrap: wrap;
}

.pagination button {
    padding: 8px 12px;
    border: none;
    background: var(--plata);
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background: var(--azul_oscuro);
    color: var(--blanco);
    cursor: default;
}

/* BOTONES */
.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    text-decoration: none;
    margin: 0 2px;
    transition: 0.2s;
    font-size: 18px;
    line-height: 50%;
    padding: 4px;
}

.btn-edit {
    color: var(--naranja);
}

.btn-delete {
    color: var(--rojo);
}

.btn-icon:hover {
    background: var(--plata);
}

/* BADGES */
.badge {
    padding: 6px 8px;
    font-weight: bold;
}

.badge-activo {
    color: var(--verde);
}

.badge-inactivo {
    color: var(--rojo);
}



/* SORT */
.sortable {
    cursor: pointer;
    user-select: none;
}

.sortable span {
    font-size: 12px;
    margin-left: 4px;
}

/*admin_units.php------fin*/

@media (max-width:1094px) {
    .entradas input {
        min-width: 48%;
    }
}

@media (max-width:555px) {
    .entradas input {
        min-width: 100%;
    }
}