main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex: 1;

    .unidad {
        width: 100%;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        h3 {
            margin: 10px;
            width: 95%;
            text-align: center;
            background-color: var(--azul_oscuro);
            color: var(--blanco);
            padding: 12px;
        }
    }

    .entradas {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        flex-wrap: wrap;

        input {
            padding: 7px;
            border-radius: 5px;
            border: 1px solid var(--gris);
            margin: 5px;
            width: 250px;
            max-width: 100%;
        }
    }

    button {
        background-color: var(--morado);
        padding: 9px 7px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        color: var(--blanco);
        transition: 0.3s;
        margin: 5px;

        i {
            margin: 5px;
        }
    }

    button:hover {
        box-shadow: inset 0 0 7px var(--violeta);
    }

    hr {
        width: 100%;
    }
}


/*dashboard.php*/
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin: 10px;
    max-width: 95%;
    color: var(--blanco);
    background-color: var(--azul_oscuro);
    box-shadow: 5px 5px 10px var(--negro);

    h4 {
        padding: 5px 0;
        margin: 5px 0;
        width: 95%;
        text-align: center;
        border-bottom: 1px solid var(--plata);
    }

    .fi{
        font-size: 40px;
    }

    h5 {
        text-align: center;
        width: 95%;
        border-top: 1px solid var(--plata);
        padding: 5px 3px;
    }

    .bi-box-arrow-in-right {
        font-size: 20px;
        margin: 5px;
    }
}
.card:hover {
    scale: 0.98;
}
/*dashboard.php-----fin*/


/*admin_units.php*/
.table-container {
    width: 95%;
    overflow-x: auto;
    margin: 5px auto;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    min-width: 800px;
    width: 100%;
    text-align: center;
    margin: 1px 0;
}

table thead {
    background: var(--azul_oscuro);
    color: var(--blanco);
}

table th {
    padding: 14px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

table td {
    border-bottom: 1px solid var(--plata);
    font-size: 14px;
}

table tbody tr:hover {
    transition: 0.2s;
}

.search-box {
    max-width: 100%;
    min-width: 200px;
    padding: 7px;
    border: 2px solid var(--gris);
    border-radius: 5px;
    outline: none;
    margin: 2px auto;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    margin-right: 5px;
    transition: 0.2s;
    font-size: 18px;
}

.btn-edit {
    color: var(--naranja);
}

.btn-edit:hover {
    background: var(--plata);
}

.btn-delete {
    color: var(--rojo);
}

.btn-delete:hover {
    background: var(--plata);
}

.badge {
    padding: 6px 8px;
    border-radius: 20px;
    font-weight: bold;
}

.badge-activo {
    color: var(--verde);
}

.badge-inactivo {
    color: var(--rojo_oscuro);
}
/*admin_units.php------fin*/