* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --azul: blue;
    --azul_oscuro: darkblue;
    --azul_claro: lightblue;
    --rojo: red;
    --rojo_oscuro: darkred;
    --verde: green;
    --verde_claro: lightgreen;
    --amarillo: yellow;
    --naranja: orange;
    --dorado: gold;
    --blanco: white;
    --negro: black;
    --plata: silver;
    --gris: gray;
    --morado: purple;
    --violeta: violet;
    --rosa: pink;
    --marron: brown;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px var(--azul_oscuro);
}

.logoNombre,
.acciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;

    img {
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    h3 {
        margin: 5px;
        color: var(--azul_oscuro);
    }

    .sesion {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--rojo);
        border-radius: 10px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
        text-decoration: none;

        i,
        h6 {
            margin: 0 2px;
            color: var(--blanco);
        }
    }

    .sesion:hover {
        box-shadow: inset 0 0 6px var(--morado);

        h5 {
            text-decoration: underline;
        }
    }

    .foto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;

        i {
            font-size: 50px;
        }
    }

    .alert {
        position: relative;
        width: 50px;
        height: 50px;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 25px;
            color: var(--dorado);
        }
        h6{
            position: absolute;
            top: 35%;
            left: 45%;
        }
    }
}